%p= "Posted by #{user(p.user_id)} on #{format_time(p.published_on)}"
%p= p.title
%p= p.body
%p= "Category: #{p.category.name}" if p.category_id
%p= "Tags: #{ p.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') }".html_safe
