%div{ id: "edit_post_#{post.id}", class: 'edit_post_form' }

  = simple_form_for post, :html => { class: 'form_wrapper' }, remote: true do |f|
    = f.input :title, as: :string, required: true
    = f.input :body, required: true
    = f.input :category_id,
            collection: category_list.map{ |c| [ c.name, c.id] },
            input_html: { multiple: false, size: 0 },
            include_blank: false,
            prompt: "--Select--",
            label: 'Category',
            wrapper_html: { id: 'category_select' },
            required: true
    = f.input :tag_list, label: "Tags (separated by commas)"
    = f.input :published_on, :as => :datepicker
    %br
    = f.button :submit, "Update Post", :class => 'sync_btn'
