%div{ id: "edit_category_#{category.id}", class: 'edit_category_form' }

  = simple_form_for category, :html => { class: 'form_wrapper' }, remote: true do |f|
    = f.input :name, as: :string, required: true, label: false
    %br
    .button_wrapper
      = link_to 'Cancel', '#', class: 'cancel green-btn'
      = f.button :submit, "Change Name", :class => 'wide green-btn'
