.categories_wrapper

  = link_to '#', id: 'reveal_new_cat_form', class: 'green_text bold subhead no_height' do
    Add Category
    %span.ui-icon

  = simple_form_for category, :html => { class: 'form_wrapper' }, remote: true do |f|
    = f.input :name, as: :text, required: true, label: '(Separate by commas)'
    = f.button :submit, "Create", :class => 'sync_btn green-btn'

  %h2 Categories:
  %ul.category_list
    = render categories
