!!!
%html
  %head
    %title BeerFoodLodging
    = stylesheet_link_tag    'application', :media => 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    .header
      .left
        = link_to 'Home', root_path

      .alerts
        - if notice
          %p.notice= notice
        - elsif alert
          %p.alert= alert

      .right
        - if current_user
          %span Hi, #{current_user.username}!
          = button_to 'Log out', destroy_user_session_path, method: :delete
        - elsif @user.nil?
          = link_to 'Sign up', new_user_registration_path, method: :get
          = link_to 'Log in', new_user_session_path

    .main
      = yield
